services:
  wish_list_db:
    image: postgres:15
    container_name: wish_list_db
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    networks:
      - app_network
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  wish_tgbot:
    container_name: wish_tgbot
    restart: "no"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - wish_list_db
      - wish_redis
      - wish_nats
    networks:
      - app_network
    volumes:
      - wish_images:/usr/project/wish_images

  wish_redis:
    image: redis:latest
    container_name: wish_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network

  wish_nats:
    container_name: wish_nats
    image: nats:latest
    entrypoint: /nats-server
    command: "-c /config/server.conf"
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - ./nats/data:/data
      - ./nats/config/server.conf:/config/server.conf
    networks:
      - app_network

#  nats-nui:
#    image: ghcr.io/nats-nui/nui:latest
#    container_name: nats-nui
#    ports:
#      - "31311:31311"  # Порт для доступа к NATS NUI
#    volumes:
#      - ./nui/db:/db
#    depends_on:
#      - nats
#    networks:
#      - app_network

volumes:
  postgres-data:
  pgadmin-data:
  wish_images:
  redis_data:

networks:
  app_network:
    driver: bridge
